{
  "log": {
    "_recordingName": "Test Pinecone instrumentation/should set attributes in span for DB upsert",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "973ce6e359a848bafd751dfc6a1cf4eb",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.pinecone.io/indexes"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 476,
            "text": "{\"indexes\":[{\"name\":\"pincone-instrumentation-test\",\"metric\":\"cosine\",\"dimension\":8,\"status\":{\"ready\":true,\"state\":\"Ready\"},\"host\":\"pincone-instrumentation-test-i5qrol6.svc.aped-4627-b74a.pinecone.io\",\"spec\":{\"serverless\":{\"region\":\"us-east-1\",\"cloud\":\"aws\"}}},{\"name\":\"quickstart\",\"metric\":\"euclidean\",\"dimension\":8,\"status\":{\"ready\":true,\"state\":\"Ready\"},\"host\":\"quickstart-i5qrol6.svc.aped-4627-b74a.pinecone.io\",\"spec\":{\"serverless\":{\"region\":\"us-east-1\",\"cloud\":\"aws\"}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-cloud-trace-context",
              "value": "cb35cf514a258d1e5fc49ccce135b75c"
            },
            {
              "name": "x-pinecone-api-version",
              "value": "2024-04"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 451,
      },
      {
        "_id": "6ad32f1905ae86de05946ba5b4176041",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.pinecone.io/indexes/pincone-instrumentation-test"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 247,
            "text": "{\"name\":\"pincone-instrumentation-test\",\"metric\":\"cosine\",\"dimension\":8,\"status\":{\"ready\":true,\"state\":\"Ready\"},\"host\":\"pincone-instrumentation-test-i5qrol6.svc.aped-4627-b74a.pinecone.io\",\"spec\":{\"serverless\":{\"region\":\"us-east-1\",\"cloud\":\"aws\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-cloud-trace-context",
              "value": "18fa12473e62442e301501290e94c3fd"
            },
            {
              "name": "x-pinecone-api-version",
              "value": "2024-04"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 402,
      },
      {
        "_id": "b23331d14736d2d22b1a85f656157656",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"vectors\":[{\"id\":\"vec5\",\"values\":[0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5]}],\"namespace\":\"\"}"
          },
          "queryString": [],
          "url": "https://pincone-instrumentation-test-i5qrol6.svc.aped-4627-b74a.pinecone.io/vectors/upsert"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 19,
            "text": "{\"upsertedCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "grpc-status",
              "value": "0"
            },
            {
              "name": "x-pinecone-request-id",
              "value": "2666709944482362316"
            },
            {
              "name": "x-pinecone-request-latency-ms",
              "value": "25"
            },
            {
              "name": "x-pinecone-request-lsn",
              "value": "1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 421,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
